# dependencies
/node_modules

# build
.next

# debug
yarn-debug.log*
yarn-error.log*

# locl
yarn.lock

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
react-app-env.d.ts

# husky
.husky

# vscode
.vscode

# Readme
README.md